<div id="<%= dom_id libro %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Titulo:</strong>
    <%= libro.titulo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Año:</strong>
    <%= libro.año %>
  </p>

</div>
